<div class="modal__poster">
    <img class="poster" src="https://image.tmdb.org/t/p/w500{{poster_path}}"
        onerror="this.onerror=null;this.src='https://ik.imagekit.io/s2fpg15d4rx/depositphotos_144011369-stock-photo-popcorn-and-movie-clapper-board_G9Nbh-ef0_9M.jpg';"
        alt="{{title}}" />
</div>

<div class="modal__content">
    <h2 class="modal__content-title">{{title}}</h2>

    <div class="modal__content-info">


        <ul class="modal__content-info">
            <li class="modal__content-info__item">
                <p class="modal__content-info name flex-basis">Vote / Votes</p>
                <p class="flex-basis"><span class="vote vote-accent">{{vote_average}}</span> / <span
                        class="vote">{{vote_count}}</span></p>
            </li>

            <li class="modal__content-info__item">
                <p class="modal__content-info name flex-basis">Popularity</p>
                <p class="flex-basis">{{popularity}}</p>
            </li>

            <li class="modal__content-info__item">
                <p class="modal__content-info name flex-basis">Original Title</p>
                <p class="modal__content-title info flex-basis">{{original_title}}</p>
            </li>


            <li class="modal__content-info__item">
                <p class="modal__content-info name flex-basis">Genre</p>
                <p class="flex-basis">{{#genres}}{{name}}{{#unless @last}}, {{/unless}}{{/genres}}</p>
            </li>
        </ul>
    </div>

    <h3 class="modal__content-title secondary">About</h3>
    <p class="modal__content-decsription">{{overview}}</p>

    <div class="modal__content-button">
        <button class="btn btn-modal" data-action="add-watched" data-movieid='{{id}}'>
            add to watched
        </button>
        <button class="btn btn-modal" data-action="add-queue" data-movieid='{{id}}'>add to queue</button>
    </div>
</div>